.title {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    position: relative;
}

.title:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg {
    position: relative;
}
.generic {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100% - 29px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic > p {
    color: #ffffff;
    font-size: 32px;
}

.popover-info {
    box-sizing: border-box;
    padding: 12px;
    max-width: 500px;
}

.popover-info > img {
    width: 60%;
}

img {
    width: 100%;
}

p {
    margin-top: 6px;
}