.title {
    width: 14.28%;
    box-sizing: border-box;
    padding: 8px;
}

.bg {
    position: relative;
}
.generic {
    position: absolute;
    background-image: url('../../assets/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    height:27vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic > p {
    color: #ffffff;
    font-size: 32px;
}

img {
    width: 100%;
}

p {
    margin-top: 6px;
}